@using Microsoft.AspNetCore.Identity
@using Application.Entities
@using AngleSharp.Dom
@inject NavigationManager NavManager

<div class="blg-head">
    <nav class="default-nav">
        <div class="brand">
            <a href="@(NavManager.BaseUri)">l3</a>
        </div>
        <ul>
            <AuthorizeView>
                <Authorized>
                    <li><NavLink class="nav-link" href="@(NavManager.BaseUri + "post/create")">CREATE POST</NavLink></li>
                    <li><NavLink class="nav-link" href="@(NavManager.BaseUri + "auth/logout")">LOGOUT</NavLink></li>
                </Authorized>
                <NotAuthorized>
                    <li><NavLink class="nav-link" href="@(NavManager.BaseUri + "auth/login")">LOGIN</NavLink></li>
                    <li><NavLink class="nav-link" href="@(NavManager.BaseUri + "auth/register")">REGISTER</NavLink></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>
