@page "/"
@using MediatR
@using Application.Features.Post
@using Application.Entities
@using Newtonsoft.Json
@inject IMediator Mediator;
@inject NavigationManager navManager;

<PageTitle>Index</PageTitle>

<section class="blg-section" style="padding-left: 25px;padding-right: 25px;">
    <div class="blg-child-node col" style="color: #eae7e1;align-items: center;justify-content: center;">
        <h1 class="section-title with-divider">
            <span style="color: #242424">#</span> LATEST POSTS
        </h1>
        @if (PostsData != null)
        {
            @foreach (var post in PostsData)
            {
                <article id="post-@post.Id" class="sub-post">
                    <div class="post-author"><a style="color:inherit;text-decoration: none;" href="account/@post.UserId">@post.Username</a></div>
                    <div class="post-date">@GetDate(long.Parse(post.DateCreated))</div>
                    <div class="post-title"><a style="color:inherit;text-decoration: none;" href="post/@post.Id">@post.Title</a></div>
                    <ul class="post-tags">
                        @if (post.Tags != null)
                        {
                            @foreach (var tag in post.Tags)
                            {
                                <li><a style="color:inherit;text-decoration: none;" href="post/tag/@tag">@tag</a></li>
                            }
                        }
                    </ul>
                </article>
            }
            <div class="pagination" >
                @if (TotalPages != 0)
                {
                    if (Page > 1)
                    {
                        <a href="/?page=@(Page-1)" @onclick="UpdatePostsViewByPage">Previous</a>
                    }
                    
                    for (var i = PageRetrieval() <= 0 ? 1 : PageRetrieval() ; i < Page + 4 && i < TotalPages; i++)
                    {
                        if (Page == i) {
                                <a href="/?page=@(i)" class="active" @onclick="UpdatePostsViewByPage">@(i)</a>
                        } else {
                                <a href="/?page=@(i)" @onclick="UpdatePostsViewByPage">@(i)</a>
                         }
                    }
                    if (Page == TotalPages)
                    {
                        <a href="/?page=@(TotalPages)" class="active" @onclick="UpdatePostsViewByPage">@(TotalPages)</a>
                    }
                    else
                    {
                        <a href="/?page=@(TotalPages)" @onclick="UpdatePostsViewByPage">@(TotalPages)</a>
                    }
                    
                    if (Page != TotalPages)
                    {
                        <a href="/?page=@(Page+1)" @onclick="UpdatePostsViewByPage">></a>
                    }
                }
            </div>
        }
    </div>
</section>

@code {

    private int Page { get; set; } = 1;
    private int PreviousPage { get; set; }
    private int TotalPages { get; set; }

    private List<Post> PostsData { get; set; }
    
    public class CustomPostView
    {
        public List<Post> AllPosts { get; set; }
        public int PageCount { get; set; }
    }

    private void UpdatePostView(List<Post> data)
    {
        PostsData = data;
    }

    private void UpdateTotalPage(int amount)
    {
        TotalPages = amount;
    }

    private int PageRetrieval()
    {
        var difference = TotalPages - Page;
        if (difference <= 4 )
        {
            return Page - (4 - difference);
        }
        return Page;
    }

    private async void UpdatePostsViewByPage()
    {
        await Task.Delay(50);
        var uri = new Uri(navManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        
        if (queryParams["page"] != null)
        {
            Page = Page > 0 ? int.Parse(queryParams["page"]) : 1;
            Page = Page <= TotalPages ? int.Parse(queryParams["page"]) : 0;
            
            if (PreviousPage == Page){ return; }

            PreviousPage = Page;
            
            var command = new RetrievePostsCommand { Page = Page };
            var response = await Mediator.Send(command);
            var result = JsonConvert.DeserializeObject<CustomPostView>(response.Value.ToString());
            
            if (result != null)
            {
                UpdatePostView(result.AllPosts);
                StateHasChanged();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(navManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        
        if (queryParams["page"] != null)
        {
            Page = int.Parse(queryParams["Page"]);
            Page = Page > 0 ? int.Parse(queryParams["page"]) : 1;
            Page = Page > TotalPages ? 1 : int.Parse(queryParams["page"]);
        }
        else
        {
            Page = 1;
        }

        var command = new RetrievePostsCommand { Page = Page };
        var response = await Mediator.Send(command);
        var result = JsonConvert.DeserializeObject<CustomPostView>(response.Value.ToString());

        if (result != null)
        {
            PreviousPage = Page;
            UpdatePostView(result.AllPosts);
            UpdateTotalPage(result.PageCount);
        }
    }

    private string GetDate(long milliseconds)
    {
        DateTimeOffset dateTimeOffset = DateTimeOffset.FromUnixTimeMilliseconds(milliseconds);

        return dateTimeOffset.ToString("dd MMM yyyy");
    }
    
}