@page "/"
@using MediatR
@using Application.Features.Post
@using Application.Entities
@using Newtonsoft.Json
@using System.Text
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Identity
@inject IMediator Mediator;
@inject UserManager<BlogUser> UserManager

<PageTitle>Index</PageTitle>

<section class="custom-section">
    <div class="child-node" style="flex-direction: column;">
        <h4 class="adjust" style="text-align: center; margin-bottom: 5px">the blog.</h4>
        <h2 class="adjust" style="text-align: center; font-weight: 500; margin-bottom: 7px;">Simple blog for simple writers.</h2>
        <h3 class="adjust" style="text-align: center; font-weight: 300;margin-bottom: 2rem;font-size: 1em;">The latest news directly from blazor server side.</h3>
        <div style="display: flex;flex-direction: column;gap: 20px;">
            <article class="front-page">
                <div class="content">
                    <span class="author">John Doe ●  20 May 2023</span>
                    <h2 class="title adjust">UX review presentations</h2>
                    <div class="description">How do you create compelling presentations that wow your colleagues and impress your managers?</div>
                    <ul class="tags">
                        <li>Design</li>
                        <li>Research</li>
                        <li>Presentation</li>
                    </ul>
                </div>
                <img style="width:100%;height: 100%" src="https://place-hold.it/1200x600"/>
            </article>
            <div class="sub-articles">
                @if (BlogPosts != null)
                {
                    @foreach (var post in BlogPosts)
                    {
                        <article class="front-page">
                            <img style="width:100%" width="300" height="200" src="https://place-hold.it/400x300"/>
                            <div class="mini-content">
                                <span class="author">@post.Username ● @GetDate(long.Parse(post.DateCreated))</span>
                                <h3 class="title adjust">@post.Title</h3>
                                <div class="description">@StripHtmlTags(@GetBody(@post.Body).Substring(0, 150))...</div>
                                <ul class="tags">
                                    @if (post.Tags != null)
                                    {
                                        @foreach (var tag in post.Tags)
                                        {
                                            <li>@tag</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </article>
                    }
                }
                <!--
                <article class="front-page">
                    <img style="width:100%" width="300" height="200" src="https://place-hold.it/400x300"/>
                    <div class="mini-content">
                        <span class="author">John Doe ● 20 May 2023</span>
                        <h3 class="title adjust">How to Linear Regress</h3>
                        <div class="description">How do you create compelling presentations that wow your colleagues and impress your managers?</div>
                        <ul class="tags">
                            <li>Programming</li>
                            <li>Binary Search</li>
                        </ul>
                    </div>
                </article>
                <article class="front-page">
                    <img style="width:100%" width="300" height="200" src="https://place-hold.it/400x300"/>
                    <div class="mini-content">
                        <span class="author">John Doe ● 20 May 2023</span>
                        <h3 class="title adjust">Writing Quality Code.</h3>
                        <div class="description">How to write quality code.?</div>
                        <ul class="tags">
                            <li>Programming</li>
                            <li>Quality</li>
                            <li>C#</li>
                        </ul>
                    </div>
                </article>
                <article class="front-page">
                    <img style="width:100%" width="300" height="200" src="https://place-hold.it/400x300"/>
                    <div class="mini-content">
                        <span class="author">Johnny Bravo ● 20 May 2023</span>
                        <h3 class="title adjust">How to Look Good</h3>
                        <div class="description">How do you look good in front of everyone</div>
                        <ul class="tags">
                            <li>Beach</li>
                            <li>Attractiveness</li>
                        </ul>
                    </div>
                </article>
                <article class="front-page">
                    <img style="width:100%" width="300" height="200" src="https://place-hold.it/400x300"/>
                    <div class="mini-content">
                        <span class="author">Johnny Bravo ● 20 May 2023</span>
                        <h3 class="title adjust">How to Look Good</h3>
                        <div class="description">How do you look good in front of everyone</div>
                        <ul class="tags">
                            <li>Beach</li>
                            <li>Attractiveness</li>
                        </ul>
                    </div>
                </article>
                -->
            </div>
        </div>
        <!--
        <article style="position: relative;">
            <div class="title">Google review questions.</div>
            <p class="description">A short description about something please I need to find something to put here.</p>
            <div class="tags">
                <span>Design</span>
                <span>Research</span>
                <span>Presentation</span>
            </div>
            <img alt="ds" style="width:100%" src="https://place-hold.it/1200x600"/>
        </article>-->
    </div>
</section>

@code {

    private List<Post> BlogPosts;

    private class HackyPost : Post
    {
        public string Username { get; set; }
    }
    
    protected override async Task OnInitializedAsync()
    {
        var json = new JsonSerializer();

        var command = new RetrievePostsCommand { Page = 1 };
        var result = await Mediator.Send(command);

        if (result.Value != null)
        {
            BlogPosts = JsonConvert.DeserializeObject<List<Post>>(result.Value.ToString());
        }
    }

    public string GetDate(long milliseconds)
    {
        DateTimeOffset dateTimeOffset = DateTimeOffset.FromUnixTimeMilliseconds(milliseconds);

        return dateTimeOffset.ToString("dd MMM yyyy");
    }

    public string GetBody(string body)
    {
        byte[] bytes = Convert.FromBase64String(body);
        return Encoding.UTF8.GetString(bytes);
    }
    
    public static string StripHtmlTags(string html)
    {
        return Regex.Replace(html, "<.*?>", "");
    }
}