@page "/post/tag/{tag}"
@using Application.Features.Post
@using MediatR
@using Newtonsoft.Json
@using Application.Entities
@using Application.Common
@inject IMediator Mediator;
@inject NavigationManager navManager;

<section class="blg-section" style="padding-left: 25px;padding-right: 25px;">
    <div class="blg-child-node col" style="color: #eae7e1;align-items: center">
        <h1 class="section-title with-divider" style="word-break: break-all"><span style="color: #242424">#</span> FILTER BY TAG <span style="color: #FDD835">@Tag.ToUpper()</span></h1>
        @if (PostTagData != null)
        {
            @foreach (var post  in PostTagData)
            {
                <article id="post-@post.Id" class="sub-post">
                    <div class="post-author"><a style="color:inherit;text-decoration: none;" href="account/@post.UserId">@post.Username</a></div>
                    <div class="post-date">@PostHelper.GetDate(long.Parse(post.DateCreated))</div>
                    <div class="post-title"><a style="color:inherit;text-decoration: none;" href="post/@post.Id">@post.Title</a></div>
                    <ul class="post-tags">
                        <li><a style="color:inherit;text-decoration: none;">@Tag</a></li>
                    </ul>
                </article>
            }
            
            <div class="pagination" >
                @if (TotalPages != 0)
                {
                    if (Page > 1)
                    {
                        <a href="/post/tag/@Tag?page=@(Page-1)" @onclick="UpdatePostsViewByPage">Previous</a>
                    }
                    
                    for (var i = PageRetrieval() <= 0 ? 1 : PageRetrieval() ; i < Page + 4 && i < TotalPages; i++)
                    {
                        if (Page == i) {
                            <a href="/post/tag/@Tag?page=@(i)" class="active" @onclick="UpdatePostsViewByPage">@(i)</a>
                        } else {
                            <a href="/post/tag/@Tag?page=@(i)" @onclick="UpdatePostsViewByPage">@(i)</a>
                        }
                    }
                    if (Page == TotalPages)
                    {
                        <a href="/post/tag/@Tag?page=@(TotalPages)" class="active" @onclick="UpdatePostsViewByPage">@(TotalPages)</a>
                    }
                    else
                    {
                        <a href="/post/tag/@Tag?page=@(TotalPages)" @onclick="UpdatePostsViewByPage">@(TotalPages)</a>
                    }
                    
                    if (Page != TotalPages)
                    {
                        <a href="/post/tag/@Tag?page=@(Page+1)" @onclick="UpdatePostsViewByPage">></a>
                    }
                }
            </div>
        }
    </div>
</section>

@code {
    private int Page { get; set; }
    private int PreviousPage { get; set; }
    private int TotalPages { get; set; }
    
    [Parameter]
    public string Tag { get; set; }
    
    public List<Post> PostTagData { get; set; }
    
    public class CustomPostView
    {
        public List<Post> AllPosts { get; set; }
        public int PageCount { get; set; }
    }
    
    private void UpdatePostView(List<Post> data)
    {
        PostTagData = data;
    }

    private void UpdateTotalPage(int amount)
    {
        TotalPages = amount;
    }

    private int PageRetrieval()
    {
        var difference = TotalPages - Page;
        if (difference <= 4 )
        {
            return Page - (4 - difference);
        }
        return Page;
    }

    private async void UpdatePostsViewByPage()
    {
        await Task.Delay(50);
        var uri = new Uri(navManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        
        if (queryParams["page"] != null)
        {
            Page = Page > 0 ? int.Parse(queryParams["page"]) : 1;
            Page = Page <= TotalPages ? int.Parse(queryParams["page"]) : 0;
            
            if (PreviousPage == Page){ return; }

            PreviousPage = Page;
            
            var command = new RetrievePostsCommand { Page = Page };
            var response = await Mediator.Send(command);
            var result = JsonConvert.DeserializeObject<CustomPostView>(response.Value.ToString());
            
            if (result != null)
            {
                UpdatePostView(result.AllPosts);
                StateHasChanged();
            }
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        
        var uri = new Uri(navManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        
        if (queryParams["page"] != null)
        {
            Page = int.Parse(queryParams["Page"]);
            Page = Page > 0 ? int.Parse(queryParams["page"]) : 1;
            Page = Page > TotalPages ? 1 : int.Parse(queryParams["page"]);
        }
        else
        {
            Page = 1;
        }
        
        var command = new RetrievePostsByTagCommand
        {
            Page = Page,
            Tag = Tag
        };

        var response = await Mediator.Send(command);
        if (response.Value != null)
        {
            var result = JsonConvert.DeserializeObject<CustomPostView>(response.Value.ToString());

            PreviousPage = Page;
            UpdatePostView(result.AllPosts);
            UpdateTotalPage(result.PageCount);
        }
    }
}